@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); //    font-family: 'Bellota', cursive;

body{
    font-family: 'Bellota', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #303030;
};

//header
header{
    .navbar{

        display: flex;
        align-items: center;
        width: 100vw;
        height: 6em;
        background: #0D8187;
        color: #ffffff;
        justify-content: space-between;
        font-size: small;

        h1{
            margin-left: 1em;
            font-size: small;
        };

        ul {

            list-style-type: none;
            margin-right: 1em;
            padding: 0;
            :last-child{
                border: none;
            };
            li{ 
                display: inline;
                border-right: 1px solid black;
                padding-right: 1em;
                padding-left: 1em;
            
                a{
                    color: #ffffff;
                    font-size: small;
                    text-decoration: none                
                };

            };
        
        };

    };
};
//fin de l'header
//debut du main

.logo{
    display: flex;
    justify-content: center;
    width: 100vw;
    img{
        width: 20em;
    };
};
.blockform{
    display: flex;
    justify-content: center;
    width: 100vw;
    .form{
        width: 90%;
        height: 10vh;
        background-color: #0D8187;
    };
};

//fin du main
//debut du footer
footer{
    display: flex;
    align-items: flex-end;
    height: 100vh;
    .navbar{
        display: flex;
        align-items: center;
        width: 100vw;
        height: 6em;
        background: #0D8187;
        color: #ffffff;
        font-size: small;
    };
};

//fin du footer
//desktop

@media(min-width: 600px){
    //header
    .navbar{
        font-size: large;
        h1{
            font-size: large;
        }
        a{
            font-size: large;
        };
    };

    //fin de l'header
    //debut du main 

    .logo img{
        width: 30em;
    };
};